.content{
  margin-top: 145px;
}

.app {
  max-width: 600px;
  margin: 0 auto;
}

.separator {
  background-color: rgb(104, 113, 116);
  border: 4px solid rgb(38, 48, 51);
  border-top: 0;
  border-bottom: 0;
  height: 15px;
}
