.post-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    border: 5px solid rgb(47, 51, 54);
    background-color: rgb(22, 22, 22);
  }
  
  .post-form-container {
    display: flex;
    width: 100%;
  }
  
  .post-form-textarea {
    background: none;
    border: 0;
    outline: none;
    width: 100%;
    min-height: 70px;
    font-family: sans-serif;
    font-size: 1.2em;
    color: white;
  }
  
  .post-form-submit {
    flex: 0 0 auto;
    padding: 5px 18px;
    width: auto;
    line-height: 28px;
    background-color: rgb(63, 149, 155);
    color: white;
    border-radius: 50px;
    border: 0;
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
  }