.post {
    display: flex;
    padding: 10px;
  }
  
  .post-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    display: flex;
    width: auto;
  }
  
  .post-user {
    font-weight: bold;
    color: rgb(96, 203, 211);
    padding-right: 5px;
  }
  
  .post-created-at {
    flex-grow: 1;
    padding-left: 5px;
    color: rgb(110, 118, 125);
  }
  
  .post-content {
    padding-left: 25px;
    padding-bottom: 20px;
    display: flex;
  }