/* individual post css */
.post {  
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;    
    padding: 10px;
  }
  
  .post-avatar {
    grid-area: 1 / 1 / 2 / 2;
  }

  .post-header {
    grid-area: 1 / 2 / 2 / 8;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    display: flex;
    width: auto;
  }
  
  .post-user {
    font-weight: bold;
    color: rgb(96, 203, 211);
    padding-right: 5px;
  }
  
  .post-created-at {
    flex-grow: 1;
    padding-left: 5px;
    color: rgb(110, 118, 125);
  }
  
  .post-content {
    grid-area: 2 / 2 / 2 / 8;
    padding-left: 25px;
    padding-bottom: 20px;
    display: flex;
  }