.timeline {
    margin: 0;
    padding: 0;
    background-color: rgb(137, 149, 151);
    /* border: 5px solid rgb(47, 51, 54); */
  }
  
  .timeline-item {
    list-style: none;
    border: 5px solid rgb(47, 51, 54);
    background-color: rgb(22, 22, 22);
  }
  
  .timeline-item:last-child {
    border-bottom: 5px solid rgb(47, 51, 54);
  }